$containerWidth: 1320px;
$containerWidthMaxXl: 1140px;
$containerWidthMaxEl: 960px;
$containerWidthMaxL: 720px;
$containerWidthMaxMd: 540px;
$containerWidthMaxSm: 100%;

$xl: 1400px;
$el: 1199px;
$l: 991px;
$md: 767px;
$sm: 575px;

$mainFontSize: 16px;

$mainLineHeight: 167.3%;
$headerLineHeight: 19px;

$mainPageColor: #3A98B2;
$secondPageColor: #FFFFFF;
$thirdPageColor: #F2B91D;

$mainFontColor: #5B6E76;
$secondFontColor: #142B35;
$thirdFontColor: #738697;

$cardBackgroundCircle: #ABD2D9;

$headerBtnHover: #328BA4;