$containerWidth: 1320px;

$mainFontSize: 16px;

$mainLineHeight: 167.3%;
$headerLineHeight: 19px;

$mainPageColor: #3A98B2;
$secondPageColor: #FFFFFF;
$thirdPageColor: #F2B91D;

$mainFontColor: #5B6E76;
$secondFontColor: #142B35;
$thirdFontColor: #738697;

$cardBackgroundCircle: #ABD2D9;

$headerBtnHover: #328BA4;